<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/layout.css"/>
    <script type="application/javascript" src="js/jquery-3.4.1.min.js" ></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
    <div class="row index">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <!-- Contextual button for informational alert messages -->
            <button type="button" class="btn btn-info" >toYou</button>

            <!-- Indicates caution should be taken with this action -->
            <button type="button" class="btn btn-warning">Warning</button>

        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <!-- Contextual button for informational alert messages -->
            <button type="button" class="btn btn-info">Info</button>

            <!-- Indicates caution should be taken with this action -->
            <button type="button" class="btn btn-warning">Warning</button>


        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <!-- Contextual button for informational alert messages -->
            <button type="button" class="btn btn-info">Info</button>

            <!-- Indicates caution should be taken with this action -->
            <button type="button" class="btn btn-warning">Warning</button>

        </div>
    </div>
</body>
</html>